.chart {
    padding: 1rem;
    border-radius: 12px;
    background-color: #edc1fa;
    text-align: center;
    display: flex;
    margin-bottom: 30px;
    justify-content: space-around;
    height: 10rem;
  }